node_modules/
build/
dist/
.next/
.gradle/
android/.gradle/
android/app/build/
.dart_tool/
ios/Pods/
.env
.env.*
*.apk
*.aab
*.zip
*.rar
*.mp4
*.db
*.jks
*.keystore
key.properties
google-services.json
.vscode/
.idea/
*.log
*.iml
local.properties
